.basket {
  .-title{
    margin: 11px 0 16px 0;
  }
  .-text{}
  .-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    @media (max-width: 320px) {
      flex-direction: column;
    }
    .-left {
      width: 65.75%;
      @media (max-width: 320px) {
        width: 100%;
      }
      
    }
    .-right {
      width: 32.87%;
      margin-top: 11px;
      height: 311px;
      padding: 24px;
      background: #fff;
      @media (max-width: 320px) {
        width: 100%;
        margin-top: 19px;
        height: auto;
        padding: 18px 16px;
      }
      .order {
        &-title {
          margin-bottom: 16px;
        }
        div div {
          display: flex;
          justify-content: space-between;
          font-size: 14px;
          font-weight: 400;
          margin-top: 12px;
          h4 {
            color: #979797;
          }
        }
        .line {
          margin: 24px 0;
        }
        .total {
          display: flex;
          justify-content: space-between;
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 16px;
        }
        .handler {
          display: none;
          padding: 8px 0;
          margin: 16px 0;
          cursor: pointer;
          background: #fff;
          border: 1px solid #ededed;
          text-align: center;
          font-size: 13px;
          font-weight: 400;
          @media (max-width: 320px) {
            display: block;
          }
        }
        .order-button {
          color: #fff;
          font-size: 14px;
          font-weight: 500;
          display: flex;
          justify-content: center;
          align-items: center;
          background: red;
          padding: 13px 0;
          cursor: pointer;
        }
      }
    }
  }
}

// =====================================ORDER_MODAL=====================
