.result{
    .-title{
        font-size: 24px;
        font-weight: 500;
        margin: 11px 0 12px;
        @media (max-width:320px) {
            font-size: 16px;
        }
    }
    .-secondary{
        
    }
    .-row{
        display: flex;
        flex-wrap: wrap;
        @media (max-width:320px) {
            flex-direction: column;
        }
        .-wrapper{
            @media (max-width:320px) {
                width: 100%;
            }
            width: 24.32%;
            margin-right: 7px;
            margin-bottom: 7px;
        }
    }
    
}