.result{
    .-title{
        font-size: 24px;
        font-weight: 500;
        margin: 11px 0 12px;
    }
    .-secondary{
        
    }
    .-row{
        display: flex;
        flex-wrap: wrap;
        .-wrapper{
            width: 24.32%;
            margin-right: 7px;
            margin-bottom: 7px;
        }
    }
    
}